#wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transform: rotate(0deg);
  animation-timing-function: cubic-bezier(0.5, -0.44, 0.58, 1.37);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
