@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-[#0A0A0A]  text-dark2 dark:text-light2 transition-colors;
}

.fade-in {
  animation: fade-in;
  animation-duration: 900ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
